<% layout("/layout/boilerplate.ejs") %>

<div class="row offset-2">
  <div class="col-8">
    <h1>Edit Listing</h1>
    <br />
    <form
      method="post"
      action="/listings/<%= listing._id  %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:-</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          value="<%=listing.title%>"
          required
        />
        <div class="invalid-feedback">Please Enter valid Title</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:- </label>
        <textarea
          name="description"
          rows="8"
          cols="20"
          class="form-control"
          required
        >
 <%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please Enter valid Description</div>
      </div>

      <div class="mb-3"> 
        <p>Orignal Image</p>
        <img src="<%= orignalImage %>" >
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">Upload New Image:- </label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
        
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:- </label>
          <input
            type="number"
            name="listing[price]"
            value="<%=  listing.price  %>"
            class="form-control"
          
          />
          <div class="invalid-feedback">Please Enter valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:- </label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country  %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter valid country</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:- </label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location  %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter valid Location</div>
      </div>

      <button class="btn btn-dark add-btn">Edit</button><br /><br />
    </form>
  </div>
</div>
